@tailwind base;
@tailwind components;
@tailwind utilities;

.dashboardLayout,
.dashboardLayoutNotSidebar {
  display: grid;
  grid-template-columns: 1fr;
}

@media (min-width:768px) {
  .dashboardLayout {
    display: grid;
    width: 100vw;
    grid-template-columns: 250px 1fr;
  }

  .dashboardLayoutNotSidebar {
    display: grid;
    grid-template-columns: 0 1fr;
  }

}